.collage {
	height: 120px;
	width: -moz-available;
}
.collage img {
	width: 10%;
	height: 100%;
	float: left;
}
.collage h3 {
	margin: 0% 0 0 30%;
}
ul {
	float: right;
	padding: 2%;
}
li {
	display: inline;
	list-style-type:none;
	margin:0 0 0 10%;
}
.macs {
	background-color: #ADD8E6;
}

.macs p {
	padding:1%;
}

.macs img {
	margin:0 0 0 44%;
	height: 12%;
	width: 12%;
}

p {
	text-align: center;
}

.product{
	background-color: #808080;
}

.product_img img {
	width: 50%;
}

td {
	text-align: center;
}

.contact div {
	display: inline-block;
}

.con_detail {
	margin-left: 20%;
}

footer{
	color: #ffffff;
	background-color: #000000;
	padding: 1%;
	text-align: center;
}