html {
	padding: 1%;
	background-color: #9da2aa;
	margin: 3% 0 0 0;
}
header {
	position: fixed;
	top: 0;
	z-index: 5;
	width: 93%;
	padding: 2%;
	border: 2px solid black;
	background-color: #ffffff;
	box-shadow: 0 12px #888888;
	border-radius: 20px;
}
header > img {
	height: 6%;width: 6%;
	float: left;
}
header h2 {
	color: #ff0000;
	margin: 3% 0 0 35%;
}
header button {
	width:7%;
	float: right;
	margin: 0 0 0 2%;
	border-radius: 50px 20px;
}
.banner {
	height: 550px;
	border-radius: 20px;
	width: 100%;
	margin: 8% 0 0 0;
	background-image: url("../image/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.banner1 {
	float: right;
	padding: 2%;
	margin: 14% 2% 0 0;
	background-color: #9db6eb;
	border-radius: 20px 20px 5px 5px;
}
.arr_box {
  padding: 2%;
	position: relative;
	width: 96%;
	margin: 2% 5% 0 0;
}
.main_parent {
	border: 2px solid black;
	display: inline-block;
	position: relative;
	height: 250px;
	width: 250px;
	margin: 0 4% 0 8%;
	background-color: #b2c2bf;
}
.parent {
	border: 2px solid black;
	display: inline-block;
	height: 150px;
	width: 150px;
	margin: 18% 0 0 18%;
	background-color: #b9b0b0;
}
.child , .child1 , .child2 {
	border: 2px solid black;
	display: inline-block;
	height: 80px;
	width: 80px;
	position: absolute;
	background-color:  #563f46;
}
/*.parent > div:first-of-type{
	background-color: red;
}*/
.child {
	margin: 13% 0 0 12%;
}
.child1 {
	top: 0;
	margin: 0 0 0 15%;
}
.child2 {
	top: 0;
	right: 0;
}
footer {
	margin: 3% 0 0 0;
	background-color: #000000;
	width: -webkit-fill-available;
	display: inline-block;
}
li {
	color: #ffffff;
	margin: 0 0 0 10%;
	display: inline;
	list-style-type: none;
}
.list {
  margin: 0 23% 0 25%;
}