.navbar img {
  width: 15%;
}
.row img {
  width:70%;
}
.carousel-inner img {
  width:100%;
  height: 84vh;
  margin-block-start: 8%;
}
.information {
  padding: 2%;
  border: 2px dashed #000000;
  border-radius: 20% 0 0 20%;
}
.information-1 {
  padding: 2%;
  border: 2px dashed #000000;
  border-radius: 0 20% 20% 0;
}
.menu-btn {
display: none;
}
.card img:hover {
  transform: scale(1.3);
}
@media (min-width: 0px) and (max-width: 360px) {
  .navbar ul {
    display: none;
  }
  .menu-btn {
    display: inline;
    position: absolute;
  }
  .menu-btn img {
    float: right;
  }
  .reverse-block {
    display: flex;
    flex-direction: column-reverse;
  }
  .reverse-block img {
    width: 94%;
    margin: 2%;
  }
}
@media (min-width: 361px) {
  .block{
    margin-left: 25%;
  }
}