html {
    height: 200%;
    margin-bottom: 0.01em;
}
body {
  margin: 0;
}
.container {
  display: flex-inline;
}
.header {
  position: fixed;
  z-index: 1;
  top: 0;
}
.container .header {
  background-color:#338CD5;
  padding: 1%;
  width: 100%;
  display: inline-block;
}
.banner {
  position: relative;
  margin: 10% 0 0 0;
}
.banner img {
  width: 100%;
  opacity: 0.7;
}
.banner h3 {
  top: 5%;
  position: absolute;
}
h1 {
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.flex-container div {
  border: 2px solid #000000;
}
.flex-header {
  position: relative;
  border-radius: 0 12% 0 12%;
}
.flex-header > img {
  height: 50%;
  width: 70%;
  margin: 0 0 0 14%;
}
.flex-header > img:hover {
  transform: scale(1.3);
}
.flex-header > p {
  margin: 2% 0 0 0;
  text-align: center;
}
.flex-header > p:after{
  margin: 20px 0 0 0;
}
.flex-header > button {
  position:absolute;
  padding: 1%;
  margin: 0 2% 2% 0;
  bottom:0;
  right: 0;
}
.testimonials-header , .testimonials-header-1 {
  display: flex;
  justify-content: center;
  margin: 2% 0 2% 0;
}
.testimonials-header p ,.testimonials-header-1 p {
  padding: 2%;
  text-align:center;
  border: 2px dashed #000000;
  border-radius: 25%;
}
.testimonials-header img , .testimonials-header-1 img {
  height: 8rem;
}
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 1%;
  text-align: center;
}
                      /*media quary for laptop*/
@media(min-width: 769px) {
  .header img {
    width: 7%;
  }
  .header button {
    margin: 3% 2% 0 0 ;
    width: 6%;
    border-radius: 50px 20px;
    float: right;
  }
  .header a {
    display: none;
  }
  h3 {
    font-size: 5rem;
    margin: 7% 0 0 0;
    color: #ffffff;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  }
  .flex-header {
    width: 25%;
  }
}
                    /*media quary for ipad*/
@media (min-width: 361px) and (max-width: 768px) {
  .header img{
    width: 6%;
  }
  .header button {
    margin: 3% 2% 0 0 ;
    border-radius: 50px 20px;
    float: right;
  }
  .header a {
    display: none;
  }
  .banner img {
    height: 20rem;
  }
  .flex-container {
    display: inline-block;
  }
  .flex-header {
    width: 40%;
    display: inline-block;
    height: 15rem;
  }
}
                  /*media quary for mobile*/
@media (min-width: 0px) and (max-width: 360px) {
  .header img {
    width: 16%;
    float: left;
  }
  .header button {
    display: none;
  }
  .header a {
    display: block;
    right: 0;
    margin: 0 2% 0 0;
  }
  .header > a > img {
    margin:0 0 0 65%;
  }
  .banner img {
    height: 15rem;
  }
  h3 {
    margin:25% 0 0 2%;
  }
  .flex-container {
    display: block;
    margin: 15%;
    width: 75%;
  }
  .flex-header {
    height: 15rem;
  }
  .testimonials {
    display: block;
  }
  .testimonials-header{
    display: inline-block;
  }
  .testimonials-header-1{
    display: flex;
    flex-direction: column-reverse;
  }
  .testimonials-header > img {
    width: 20rem;
  }
}