body{
  margin: 5% 0 0 30%;
}
#switchboard{
  float: left;
  border: 2px solid #000000;
  width: 400px;
  height: 400px;
}
.board{
  background-color: red;
}
.green{
  background-color: green;
}
.gray{
  background-color: #ababab;
}
#switch-btn{
  margin: 40% 0 0 38%;
  height: 70px;
  width: 80px;
}
.btn{
  background-color: #FFFF00;
}

.table1{
  margin:0% 0 0 26%;
}
.table2{
  border: 2px solid black;
  margin:12% 0 0 29%;
  height: 200px;
  width: 200px;
}
ul{
  list-style-type: none;
  position: absolute;
}
li{
  border:2px solid black;
  width: 200px;
  margin: 2%;
}
.even {
  background: black;
}

.odd{
  background: #ababab;
}
.black{
  background-color: #000000;
}
#status{
  position: absolute;
  margin:30% 0 0 0;
}
#message{
  position: absolute;
  margin:33% 0 0 0;
}
.message{
  display: none;
}
.show{
  display: block;
}