amp-mega-menu {
  background-color: red;
}
amp-mega-menu div {
  display: inline-block;
}
.menu-btn {
  display: none;
}
ul {
  float: right;
  margin: 3% 11% 0 0;
}
li {
  display: inline-block;
  margin: 0 7%;
}
.sample-sidebar {
  width: 150px;
}
amp-sidebar a {
  display: block;
  text-align: center;
  margin: 22% 0 0 0;
}
.amp-carousel-slide >.i-amphtml-replaced-content {
    -o-object-fit: contain;
    object-fit: cover;
}
.card {
  width: 80%;
  border: 2px solid black;
  text-align: center;
  margin: 4% 2% 2% 9%;
  position: relative;
}
.btn {
  border: 2px solid black;
  margin: 4% 1% 1% 0;
}
.card img:hover {
  transform: scale(1.3);
}
.card-text::after {
  margin: 0 0 0 3%;
}
.card a {
  position: absolute;
  right: 0;
  bottom: 0;
}
.content {
  display: block;
  width: 400px;
  justify-content: space-between;
}
.content ul {
 background-color: #686d3e;
}
.footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 360px) {
  amp-mega-menu ul {
    display: none;
  }
  .menu-btn {
    display: inline-block;
    position: absolute;
    right: 0;
  }
  .content amp-img {
  margin: 2% 0 0 8%;
  }
  .footer {
    padding: 3%;
  }
}