body{
  margin: 5% 0 0 30%;
}
.switchboard{
  float: left;
  border: 2px solid #000000;
  width: 400px;
  height: 400px;
}
.board{
  background-color: red;
}
.yellow{
  background-color: gray;
}
.switch-btn{
  margin: 40% 0 0 38%;
  height: 70px;
  width: 80px;
}
.btn{
  background-color: #FFFF00;
}
.green{
  background-color: green;
}
.table{
  top: 0;
  right: 0;
}
.table td{
  border: 2px solid #000000;
  margin: 2px;
  display: block;
  width: 200px;
  height: 20px;
}
td:nth-child(even) {
  background-color: #000000;
}
td:nth-child(odd) {
  background-color: #ababab;
}
.status{
  position: absolute;
  margin:23% 0 0 0;
}
.message{
  position: absolute;
  margin:26% 0 0 0;
}